* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto',sans-serif;
}

body {
    margin-top: 4rem;
}

ul {
    list-style: none;
}

.nav-bar{
    background-color: white;
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    z-index: 999999;
    max-width: 100%;
    padding: 0 15%;
}

nav ul {
    display: flex;
    height: 100%;
}

nav li {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    font-size: 0.8rem;
}

.click-area{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    height: 100%;
}

.logo {
    height: 25px;
}

.login {
    background-color: rgb(16, 98, 253);
    color: white;
    padding: 0.5rem;
    text-decoration: none;
    height: fit-content;
}

.border-bottom:hover {
    border-bottom: 3px solid blue;
    background-clip: padding-box;
}

/* FOOTER SOTTO */

.colored-header {
    max-width: 100%;
    height: 100%;
    background-color: rgb(179, 207, 230);
}

.header-container {
    padding: 4rem auto 0;
    margin: 0 auto;
    max-width: 1200px;
}

header h1 {
    font-size: 4rem;
    font-weight: 900;
    margin-bottom: 2rem;
    padding-top: 4rem;
    display: flex;
    flex-basis: 100%;
}

.header-explaining {
    display: flex;
}

.col-sx {
    min-width: 30%;
    padding-bottom: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 0.8rem;
}

.col-dx img {
    position: relative;
    margin-bottom: -3rem;
    max-width: 40rem;
    object-fit: contain;
}

.fa-arrow-down {
    font-size: 2.5rem;
    font-weight: 900;
}

.header-explaining a {
    width: fit-content;
}

/* MAIN */

.centered-container {
    max-width: 1200px;
    min-width: 30%;
    margin: 6em auto;
}

.piano-business {
    display: flex;
    flex-direction: column;
}

.business-row {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
}

.piano-business h1 {
    font-size: 2rem;
}

main label {
    margin-right: 2rem;
}

.plans-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* COLONNE */

.business-col-plan {
    border: solid 1px lightgray;
    width: 300px;
    display: flex;
    flex-direction: column;
    flex: 0 1 calc((100% - 3em) / 3);
}

.type {
    border-bottom: solid 1px lightgray;
    text-align: center;
    padding: 1em;
    gap: 0.5em;
}

.member-type, .description, .prova-container, .specs {
    display: flex;
    flex-direction: column;
    gap: 0.7em;
    margin: 20px 20px;
}

.price {
    font-weight: bold;
    font-size: 0.8em;
    margin-top: 0.5rem;
}

.duration-plan {
    color: rgb(117, 123, 128);
    font-size: 0.8em;
    margin-top: -0.5rem;
}

.description, .specs {
    margin-bottom: -0.5rem;
}

.prova {
    background-color: rgb(16, 98, 253);
    padding: 1em 4em;
    text-align: center;
    margin: 1em auto;
    width: fit-content;
}

.prova a {
    color: white;
    text-decoration: none;
}

section hr {
    margin-top: 1em;
    width: 50px;
    color: lightgray;
}

.specs {
    padding-bottom: 5em;
}

.fa-check {
    color: blue;
}

/* SECTION 2 */

.section2-container {
    border: solid 1px lightgray;
}

.section2-up {
    border: solid 1px lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    gap: 0.5em;
}

/* potevo fare 2 colonne, una con i test ed una con il pulsante, ma ho voluto sperimentare il position:relative :) */

.section2-down {
    border: solid 1px lightgray;
    padding: 3em 2em;
}

#sec2-title {
    font-size: 1.3rem;
}

#contatta {
    font-weight: 600;
    font-size: 1.1rem;
}

#call-btn {
    position: relative;
    left: 25rem;
    bottom: 6rem;
}

/* SEZIONE 3 */

.sec3-container {
    margin: 5rem auto;
    display: flex;
}

.sec3-col-dx {
    display: flex;
    padding: 3rem;
    padding-right: 10rem;
    font-size: 110%;   
    flex: 1 1 30%; 
}

.ul-sec3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

#img-partner {
    width: 700px;
}

.transp-btn {
    border: solid 1px black;
    width: fit-content;
    padding: 0.8em;
}

.transp-btn a {
    text-decoration: none;
    color: black;
}

/* SEZIONE 4 */

#sec4-title {
    display: flex;
    flex: 0 0 100%;
    font-size: 2.8rem;
    font-weight: 700;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 calc((100% - 3em) / 3);
}

.card {
    display: flex;
    flex-direction: column;
    max-width: 33%;
    /* height: 500px; */
    flex: 1 1 250px;
}

/* SEZIONE 5 */

.sec5 ul {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.sec5 h1 {
    display: flex;
    flex-basis: 100%;
    font-size: 2rem;
    margin: 0 0;
    text-align: left; 
}

/* SEZIONE 6 */

.row-up {
    display: flex;
    max-height: 30rem;
}

.sponsors-left {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 33%;
}

.logo-container {
    display: flex;
    align-items: center;
    flex: 1 1 50%;
    height: 50%;
    justify-content: center;
    padding: 1em;
}

.sec6 img{
    padding: 2em 2em;
    max-width: 100%;
    max-height: 100%;
}

#sp1 {
    border: 10px solid rgb(208, 232, 205);
    background-color: rgb(162, 211, 155);
}

#sp2 {
    background-color: rgb(158, 247, 212);
    filter: invert(1);
}

#sp3 {
    background-color: rgb(255, 108, 49);
    filter: invert(1);
}

#sp4 {
    background-color: rgb(0, 227, 227);
    filter: invert(1);
}

.sponsors-center {
    flex-basis: 33%;
    padding: 2rem;
    overflow-y: auto;
}

.sponsors-center ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.sponsors-center hr{
    color: lightgrey;
    width: 100px;
}

.testo-designit {
    font-size: .8rem;
}

#designit-logo {
    padding: 0 0;
    filter: invert(1);
}

.sponsors-right {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 33%;
}

#sp5 {
    background-color: rgb(42, 255, 224);
    filter: invert(1);
}

#sp6 {
    background-color: rgb(180, 208, 231);
}

#sp7 {
    background-color: rgb(13, 36, 129);
}

#sp8 {
    background-color: rgb(255, 216, 48);
}

.logo-row-down {
    background-color: rgb(180, 208, 231);
    height: 15rem;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.sec6-container {
    margin: 0 auto;
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec6-container ul {
    display: flex;
    gap: 15em;
}

.logo-row-down h1 {
    color: rgb(95, 1, 34);
    font-size: 2rem;
    margin-top: -0.5em;
}

.logo-row-down .login {
    background-color: white;
    color: black;
    border: 1px solid lightgrey;
    padding: 0.5rem 3rem;
}

/* SEZIONE 7 */

.sec7-container {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    margin: 10rem;
}

.sec7-container h1 {
    font-size: 2.3rem;
    padding-bottom: 2em;
}

.quests {
    border-top: solid 1px lightgray;
    display: flex;
    flex-direction: column;
}

.faq {
    border-bottom: solid 1px lightgray;
    padding: 2em 0;
    max-width: 100%;
}

.faq a {
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: space-between;
}

.faq .fa-angle-down {
    padding-right: 3em;
}

.info {
    padding: 2em 2em 3em 0;
    font-size: .9em;
    display: none;
}

#info1:hover{
    display: block;
}

/* FOOTER */

footer  {
    background-color: rgb(0, 0, 0);
    /* height: 100%; */
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: -7em;
}

.footer-container {
    display: flex;
    flex-direction: column;
    padding: 5em 0;
}

.footer-row-up {
    display: flex;
    justify-content: space-between;
    color: white;
    max-width: 100%;
    flex: 1 1 calc((100% - 3em) / 3);
}

.footer-columns li{
    padding: 0.5em 0;
} 

.footer-columns h2{
    padding-bottom: 0.5em;
} 

.footer-links a{
    text-decoration: none;
    color: white;
    padding: 1em 0;
}

.footer-row-down {
    display: flex;
    flex-direction: column;
    margin: 5em 0 -2em; 
}

.footer-row-down ul {
    display: flex;
    flex-direction: column;
    gap: 3em;
}

footer hr {
    width: 100px;
    color: grey;
}

.lang a{
    display: flex;
    gap: 0.7em;
}

.fa-earth-europe {
    color: white;
}

.footer-row-down a {
    text-decoration: none;
    color: white;
}